@import "reset-css";
html {
  --text-title: rgba(31, 35, 41, 1);
}

.main {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
}

.main-config {
  border-top: rgba(222, 224, 227, 1) 1px solid;
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

.config-panel {
  width: 340px;
  flex: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
  border-left: rgba(222, 224, 227, 1) 1px solid;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  flex-grow: 1;
}

.form-item {
  margin-bottom: 16px;
  color: var(--text-title);
}

.label {
  padding-bottom: 8px;
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.btn {
  align-self: flex-end;
}

.container {
  width: 100%;
  border: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.url-empty {
  color: #666c75;
  font-family: PingFang SC;
  font-size: 14px;
}
